/.quarto/
**/*.quarto_ipynb

course_site/
node_modules/
.DS_Store

**/__pycache__/
**/*.Rhistory
**/*.rds
**/*.RData
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.gz
**/*.lof
**/*.lot
**/*.fls

data
*.sav
**/*.zip

.venv/
env/
venv/

